<!DOCTYPE html>
<html lang="en">
<head>
    <title>User management | AddUsers</title>
</head>
<body>

{% include 'menu.html' with page='add_user' %}

<div class="container-fluid">
    <h1>Add user</h1>
    <form action="/web/add_user" method="post">
        {% csrf_token %}
        Username:<br>
        <input type="text" name="username" value="">
        <br>
        Password:<br>
        <input type="text" name="password" value="">
        <br>
        <br>
        <input type="submit" value="Add user">
    </form>
</div>
</body>
</html>