{% load permission_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>User management | Recruitment Page</title>
</head>
<body>
<h1>This page is visible only for recruiters and lead recruiters</h1>
<h3>Your role is:
    {% if user|has_role:'lead_recruiter' %}
        Lead recruiter
    {% elif user|has_role:'recruiter' %}
        Recruiter
    {% endif %}

    <h1> Products:</h1>
    <table class="table">
        <tr>
            <th>Product name</th>
            <th>Product parts</th>
        </tr>
        {% for product in all_products %}
            <tr>
            <th>
                {{ product.product_name }}</th>
            <th>
                <table class="table-bordered">
                    {% for parts in product.product.all %}
                        <th>
                            {{ parts.part_name }}
                        </th>
                    {% endfor %}
                </table>
            </th>
        {% endfor %}
        </tr>
    </table>
    {% if all_products.has_other_pages %}
        <ul class="pagination">
        {% if all_products.has_previous %}
            <li><a href="?page={{ all_products.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in all_products.paginator.page_range %}
            {% if all_products.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if all_products.has_next %}
            <li><a href="?page={{ all_products.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    {% endif %}

</h3>
</body>
</html>