<!DOCTYPE html>
<html lang="en">
<head>
    <title>User management | Users</title>
</head>
<body>

{% include 'menu.html' with page='users' %}

<div class="container-fluid">
    <h1>Users listed here</h1>
    <ul>
        {% for user, role, permissions in result %}
            <li>
                {{ user.username }} ({{ role }}) {% if user.email %}({{ user.email }}) {% endif %}
                {% if user.is_superuser %}
                    <p>User has all permissions</p>
                {% else %}
                    {% for permission, assigned in permissions.items %}
                        <div>
                            {% if assigned %}
                                <span>☑</span>
                            {% else %}
                                <span>☐</span>
                            {% endif %}
                            {{ permission }}
                        </div>
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
